adjustText==0.7.3
alabaster==0.7.12
anndata==0.8.0
attrs==21.4.0
Babel==2.10.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
csverve==0.2.4
cycler==0.11.0
Cython==0.29.30
docutils==0.18.1
fonttools==4.33.3
h5py==3.7.0
hdbscan==0.8.28
idna==3.3
imagesize==1.3.0
iniconfig==1.1.1
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.2
llvmlite==0.38.1
MarkupSafe==2.1.1
matplotlib==3.5.2
mypy==0.790
mypy-extensions==0.4.3
natsort==8.1.0
ncls==0.0.65
numba==0.55.2
numpy==1.22.4
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
pluggy==1.0.0
py==1.11.0
pyBigWig==0.3.18
pyfaidx==0.6.4
Pygments==2.12.0
pyparsing==3.0.9
pyranges==0.0.117
pyrle==0.0.35
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
PyVCF3==1.0.3
PyYAML==6.0
requests==2.27.1
scgenome @ git+https://github.com/shahcompbio/scgenome@0d50104c90745c4094ae94021948d1e5534734ee
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
sklearn==0.0
snowballstemmer==2.2.0
sorted-nearest==0.0.33
Sphinx==1.8.5
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
tabulate==0.8.9
threadpoolctl==3.1.0
tomli==2.0.1
typed-ast==1.4.3
typing_extensions==4.2.0
umap==0.1.1
urllib3==1.26.9
